@model DanAutoPower.Models.Car

@{
    ViewData["Title"] = "Delete Car";
}

<h2>Изтриване на обява за автомобил</h2>
<hr />

<h4>Сигурни ли сте, че искате да изтриете тази обява?</h4>

<dl class="row">
    <dt class="col-sm-2">Марка</dt>
    <dd class="col-sm-10">@Model.Make</dd>

    <dt class="col-sm-2">Модел</dt>
    <dd class="col-sm-10">@Model.Model</dd>

    <dt class="col-sm-2">Година на производство</dt>
    <dd class="col-sm-10">@Model.Year</dd>

    <dt class="col-sm-2">Цена</dt>
    <dd class="col-sm-10">@Model.Price.ToString("C")</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Изтрий</button>
    <a asp-action="Index" class="btn btn-secondary">Отказ</a>
</form>
